.wrapper {
    min-height: 100vh !important;
    transition: .5s ease-out;
    background-color: #DDB6EF;
}.wrapper h1 {
    color: #63526C;
}

.header {
    background-color: #bc63e6;
    height: 3.5rem;
    transition: .5s ease-out;
}.header h2 {
    color: #444343;
}

.header:hover {
    cursor: pointer;
}

.buttons {
    height: 3.5rem;
}

.up {
    background-color: #4c2a5c;
    transition: .5s ease-out;
}.up h2{
    color: white;
}

.up:hover, .down:hover {
    opacity: 0.9;
}

.down {
    background-color: #664779;
    transition: .5s ease-out;
}.down h2 {
    color: white;
}

.content {
    background-color: #d188f3;
    display: none;
}

.title:hover {
    color: blueviolet;
}

.accordion-1 {
    order: 1;
}

.accordion-2 {
    order: 2;
}

.accordion-3 {
    order: 3;
}

.accordion-4 {
    order: 4;
}

.accordion-5 {
    order: 5;
}

.change-theme {
    order: 6;
}

.change-theme h4 {
    color: #8f31bb;
}

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: #8f31bb;
}
input:checked + .switch::before {
    left: 27px;
    background: #ffffff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.dark-bg {
    background-color: #3a0653 !important;
    transition: .5s ease-out;
}.dark-bg h1 {
    color: rgba(250, 240, 255, 0.87) !important;
}

.dark-header {
    background-color: #bc63e6 !important;
    border-radius: .3rem;
    border-radius: .3rem;
    transition: .5s ease-out;
}.dark-header h2 {
    color: rgba(250, 240, 255, 0.87);
}

.dark-up {
    background-color: #5f1e80 !important;
    transition: .5s ease-out;
}

.dark-down {
    background-color: #8706c7 !important;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    transition: .5s ease-out;
}

.dark-content {
    background-color: #361546 !important;
    color: rgba(250, 240, 255, 0.87);
}

@media only screen and (max-width: 430px) {
    .header > h2 {
        font-size: 1.2em !important;
    }
}
