.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33.3%;
  padding: 0 4px;
}.col h2 {
    color: #63526C;
}

#result {
    padding-top: 10px;
}#result p {
    color: #63526C;
}#result h3 {
    color: #FFFFFF;
}

.mytable {
  padding-top: 10px;
}