{% extends "base.html" %}
{% load static %}


{% block meta %}
<title>Books</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/booksfinder.css' %}">

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="form-group col">
                <h2>Books Finder</h2>
                <div class="searchbox">
                <input id="search" class="form-control" placeholder="title or genre..">
                </div>
            </div>
            <div class="form-group col-auto">

                <div class="mytable">
                    <div style="overflow-x:auto;">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col-2">No.</th>
                                    <th scope="col-2">Cover</th>
                                    <th scope="col-2">Title</th>
                                    <th scope="col-2">Author</th>
                                </tr>
                            </thead>
                            <tbody class="result">
                                <!-- Ajax Content -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/booksfinder.js' %}"></script>
{% endblock %}