.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 20px;
}.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}.column h3 {
    color: #63526C;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 33%;
    max-width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}