{% extends "base.html" %}

{% block meta %}
<title>Activity</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<div class="container-fluid">
    <div class="header">
        <h1 class="text-center" style="color: #63526C;">My Activity</h1>
    </div>
    <div class="row">
        <div class="column text-center">
            <h3>Mabar DOTA</h3>
            <img src="{% static 'img/dota-2-logo.0.jpg' %}" style="width:100%">
            <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/1">Register</a>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Nama Teman</th>
                </thead>
                <tbody>
                    {% for i in activity_1 %}
                    <tr>
                        <td class="table-dark">{{ i.name }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column text-center">
            <h3>Mabar LoL</h3>
            <img src="{% static 'img/Home-page.jpg' %}" style="width:100%">
            <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/2">Register</a>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Nama Teman</th>
                </thead>
                <tbody>
                    {% for i in activity_2 %}
                    <tr>
                        <td class="table-dark">{{ i.name }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column text-center">
            <h3>Mabar Genshin</h3>
            <img src="{% static 'img/Genshin-Impact-image-new-1.png' %}" style="width:100%">
            <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/3">Register</a>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Nama Teman</th>
                </thead>
                <tbody>
                    {% for i in activity_3 %}
                    <tr>
                        <td class="table-dark">{{ i.name }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for i in activity %}
            <a class="btn btn-dark mr-2 mt-2 mb-5" href="{% url 'profile:register' %}">Register</a>
        {% endfor %}
    </div>
</div>
{% endblock %}