{% extends "base.html" %}

{% block meta %}
<title>Delete Course</title>
{% endblock meta %}

{% block content %}
<div class="delete-form">
    <form action="{% url 'profile:delete_course' course.id %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <h1 class="text-center" style="color: #63526C; margin-top: 60px;">Delete {{ course.name }}?</h1>
        </div>
        <div class="text-center">
            <a class="btn btn-primary mr-2" href="{% url 'profile:course' %}">Cancel</a>
            <button type="submit" class="btn btn-danger">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}