{% extends "base.html" %}

{% block meta %}
<title>Detail Course</title>
{% endblock meta %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="text-center" style="color: #63526C">My Courses</h1>
        <table class="table">
                <tr>
                    <td class="table-dark">Mata Kuliah</td>
                    <td class="table-dark">{{ course.name }} </td>
                </tr>
                <tr>
                    <td class="table-dark">Dosen</td>
                    <td class="table-dark">{{ course.lecturer }} </td>
                </tr>
                <tr>
                    <td class="table-dark">Deskripsi</td>
                    <td class="table-dark">{{ course.description }} </td>
                </tr>
                <tr>
                    <td class="table-dark">Semester</td>
                    <td class="table-dark">{{ course.year }} </td>
                </tr>
                <tr>
                    <td class="table-dark">SKS</td>
                    <td class="table-dark">{{ course.credit }} </td>
                </tr>
                <tr>
                    <td class="table-dark">Ruang</td>
                    <td class="table-dark">{{ course.room }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}