{% extends "base.html" %}

{% block meta %}
<title>Gallery</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<div class="container-fluid">
    <div class="header">
        <h1 class="text-center" style="color: #63526C;">My Gallery</h1>
    </div>
    <div class="row ">
        <div class="column">
            <img src="{% static 'img/EjabhrpUcAcpHr0.jpg' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/EjaXHMlVkAAeUw9.jpg' %}" style="width:100%">
        </div>
        <div class="column">
            <img src="{% static 'img/jojinectar-819x1024.jpg' %}" style="width:100%">
        </div>
    </div>
</div>
{% endblock %}

