{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Register Activity</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <form action="" class="main-form" id="form" method="POST">
        <h1 class="text-center">Register Forms</h1>
        {% csrf_token %}
        <div class="row">
            <div class="col md-4">
                <div class="form-group">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {{ form|crispy }}
                    {% endfor %}
                    <br>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

{% endblock %}