{% extends "base.html" %}

{% block meta %}
<title>Story 1</title>
{% endblock meta %}

{% block content %}
    <h1>Hello my name is {{ name }}</h1>
    <article>Npm: {{ npm }}</article>
    <article>I am {{ age }} years old</article>
{% endblock %}